node_modules
dist
.vite
*.local

# Java / Maven / Eclipse
**/bin/
**/target/
**/.settings/
**/.classpath
**/.project
**/.factorypath
**/.sts*
**/.springBeans

# Environment files
.env
**/.env
**/application.properties

# OS
.DS_Store
Thumbs.db

# Empty dirs
Ganesh/
